<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
	        <!--
                Please Change the connection String to run this project,
				First you have to get path of BloodDatabase.mdf, which is located in Blood Bank Management "System\Blood Bank Management System\App_Data\"
				Write full path of database file in below connectionString in "AttachDbFilename"
				And Do not delete ";Integrated Security=True" After your file path.
            -->
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Mihir Laptop Backup\MAD\sem-1\Project\Blood Bank Management System\Blood Bank Management System\App_Data\BloodDatabase.mdf;Integrated Security=True"/>
  </connectionStrings>
  
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
